.contact {
    &__left-tree {
        @include left-tree;
    }

    &__right-tree {
        @include right-tree;
    }

    &__water-top {
        position: absolute;
        top: 18%;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    &__water-bottom {
        position: absolute;
        top: 4%;
        width: 100%;
        z-index: -2;

        img {
            width: 100%;
        }
    }
    
    &__mountains {
        position: absolute;
        width: 80%;
        top: 10.8%;
        left: 3%;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    &__crab {
        position: absolute;
        width: 10%;
        bottom: 30%;
        left: 40%;
        z-index: -1;
        animation: crab-up 17s linear infinite;

        img {
            width: 100%;
        }
    }

    &__bottle {
        position: absolute;
        width: 5%;
        bottom: 48%;
        right: 30%;
        z-index: -2;
        animation: bottle-float 14s linear infinite;

        img {
            width: 100%;
        }
    }

    &__plane {
        position: absolute;
        width: 10%;
        top: 21%;
        left: 30%;
        z-index: -1;
        animation: fly-right 28s linear infinite;

        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .contact {
    
        &__crab {
            animation: crab-up 25s linear infinite;
        }
    
        &__bottle {
            animation: bottle-float 25s linear infinite;
        }
    
        &__plane {
            animation: fly-right 48s linear infinite;
        }
    }
}