@keyframes slide-right {
    from  {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from  {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fly-left {
    from  {
        transform: translateX(500px);
    }
    to {
        transform: translateX(-5000px);
    }
}

@keyframes fly-right {
    from  {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(5000px);
    }
}

@keyframes drive-up {
    0% {
        transform: translateZ(700px);
    }
    100% {
        transform: translateZ(0);
    }
}

@keyframes spiral-left {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@keyframes spiral-right {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
    }
}

@keyframes hearts {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(-900px);
    }
}

@keyframes rise-up {
    from {
        transform: translateY(500px);
        -webkit-transform: translateY(500px);
        -ms-transform: translateY(500px);
    }
    to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(500px);
    }
}

@keyframes fall-down {
    from {
        transform: translateY(-500px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes paper-fall {
    0% {
        transform: translateY(-800px) rotateX(10deg);
    }
    20% {
        transform: translateY(-700px) rotateX(60deg);
    }
    30%{
        transform: translateY(-600px) rotateX(120deg);
    }
    40%{
        transform: translateY(-500px) rotateX(180deg);
    }
    50%{
        transform: translateY(-400px) rotateX(240deg);
    }
    60% {
        transform: translateY(-400px) rotateX(300deg);
    }
    70% {
        transform: translateY(-300px) rotateX(360deg);
    }
    80%{
        transform: translateY(-200px) rotateX(440deg);
    }
    90% {
        transform: translateY(-100px) rotateX(520deg);
    }
    100% {
        transform: translateY(0px) rotateX(0);
    }
}

@keyframes far-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1000px);
    }
}

@keyframes bounce {
    0% { transform: translateY(0)  
    }
    50% { transform: translateY(5px) 
    }
    100% { transform: translateY(0) 
    }
}

@keyframes bottle-float {
    0% {
        transform: translateX(100px) translateY(20px);
    }
    20% {
        transform: translateX(0px) translateY(10px);
    }
    30%{
        transform: translateX(-100px) translateY(20px);
    }
    40%{
        transform: translateX(-200px) translateY(0px);
    }
    50%{
        transform: translateX(-300px) translateY(20px);
    }
    60% {
        transform: translateX(-400px) translateY(10px);
    }
    70% {
        transform: translateX(-500px) translateY(0px);
    }
    80%{
        transform: translateX(-600px) translateY(20px);
    }
    90% {
        transform: translateX(-700px) translateY(10px);
    }
    100% {
        transform: translateX(-800px) translateY(0px);
    }
}

@keyframes crab-up {
    0% {
        transform: translateX(0px) translateY(200px);
    }
    20% {
        transform: translateX(0px) translateY(200px);
    }
    30%{
        transform: translateX(0px) translateY(150px);
    }
    40%{
        transform: translateX(200px) translateY(0px);
    }
    50%{
        transform: translateX(150px) translateY(20px);
    }
    60% {
        transform: translateX(100px) translateY(10px);
    }
    70% {
        transform: translateX(25px) translateY(0px);
    }
    80%{
        transform: translateX(0px) translateY(20px);
    }
    90% {
        transform: translateX(-100px) translateY(10px);
    }
    100% {
        transform: translateX(-300px) translateY(0px);
    }
}