.credits-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2rem;
        align-self: center;
        justify-self: center;
        width: 100%;

        .icon {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            background-image: url('/images/main/background.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 2px solid $dogDaysBlack;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;

            &.cidida {
                img {
                    transform: translate(-59px, 17px);
                    width: 150px;
                }
            }
            &.july {
                img {
                    width: 100px;
                    transform: translate(-8px, 17px);
                }
            }
            &.pj {
                img {
                    width: 130px;
                    transform: translate(-40px, 23px);
                }
            }
            &.dallas {
                img {
                    width: 105px;
                    transform: translate(2px, 17px);
                }
            }
            &.mitch {
                img {
                    width: 105px;
                    transform: translate(-5px, 17px);
                }
            }
            &.joe {
                img {
                    width: 170px;
                    transform: translate(-60px, 17px);
                }
            }
        }

        button {
            display: block;
            margin: 0 auto;
            border: 0;
            background: transparent;
            text-transform: uppercase;
            padding-top: .6rem;
            cursor: pointer;
        }
    }
}