.panel {
    width: 30%;
    min-width: 350px;
    height: 100%;
    background: $pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    z-index: 999;

    &__btn-container {
        width: 85%;
        display: flex;
        flex-direction: column;

        button {
            display: block;
            color: $dogDaysBlack;
            background: $greyLight;
            border: 2px solid $dogDaysBlack;
            font-size: 24px;
            text-transform: uppercase;
            height: 73px;
            margin-bottom: 2rem;
            position: relative;
            cursor: pointer;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: $greyLight;
                border: 2px solid $dogDaysBlack;
                position: absolute;
                top: .1rem;
                right: -.3rem;
                z-index: -1;
                box-shadow: 6px 5px 5px rgba(36, 39, 40, .3);
            }

            &.selected {
                background: $orange;

                &::after {
                    content: "";
                    display: none;
                }
            }
        }
    }

    .panel-window {
        width: 85%;
        height: 500px;
        background: $greyLight;
        border: 2px solid $dogDaysBlack;
        position: relative;
    }
}

@media only screen and (max-width: $tablet) {
    .panel {
        width: 100%;
        min-width: 100%;
        height: 300px;
        flex-direction: row;
        justify-content: space-between;
    
        &__btn-container {
            width: 45%;
            margin-left: .5rem;
    
            button {
                height: 63px;
                margin-bottom: .5rem;
            }
        }
    
        .panel-window {
            width: 50%;
            height: 280px;
            margin-right: .5rem;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .panel {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        min-width: 100%;
        height: 520px;
        flex-direction: column;
        justify-content: space-between;
    
        &__btn-container {
            width: 95%;
            margin-left: 0rem;
    
            button {
                height: 50px;
            }
        }
    
        .panel-window {
            width: 95%;
            height: 260px;
            margin-right: 0rem;
        }
    }
}

