.listen-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .soundcloud-mobile {
        display: none;
    }

    &__btns {
        display: flex;
        flex-direction: column;

        h1 {
            text-transform: uppercase;
            font-size: 2rem;
            margin: 0;
            padding: .5rem;
            text-align: center;
            border-bottom: 2px solid $dogDaysBlack;
        }

        .edge, .daze, .dog {
            margin-top: .4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            .play-icon {
                width: 30px;
                margin-right: .5rem;

                img {
                    width: 100%;
                }
            }

            .play-text p {
                margin: 0;
                margin-right: .5rem;
                align-self: center;
            }
        }

        button {
            border: none;
            background: transparent;
            padding: .4rem;
            text-align: left;
            font-size:1.2rem;
            position: relative;
            outline: transparent;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: $tablet) {
    .listen-panel {
        .soundcloud {
            visibility: hidden;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .listen-panel {
        .soundcloud-mobile {
            display: block;
        }

        &__btns {
            display: none;
        }
    }

}