.default-panel {
    width: 80%;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    img {
        width: 100%;
    }
}

@media only screen and (max-width: $tablet) {
    .default-panel {
        width: 60%;
    }
}