.daze {
    &__left-tree {
        @include left-tree;
    }

    &__right-tree {
        @include right-tree;
    }

    &__spiral {
        position: absolute;
        width: 6%;
        z-index: -1;

        &.left {
            bottom: 26%;
            right: 54%;
            animation: spiral-left 2s linear infinite, rise-up 2s ease;
        }

        &.right {
            bottom: 27%;
            right: 46.8%;
            animation: spiral-right 2s linear infinite, rise-up 2s ease;
        }
    }

    &__heart-one {
        position: absolute;
        width: 10%;
        top: 12%;
        left: 35%;
        z-index: -2;
        animation: hearts 6s linear infinite;

        img {
            width: 100%;
        }

    }
    &__heart-two {
        position: absolute;
        width: 12%;
        top: 25%;
        left: 20%;
        z-index: -2;
        animation: hearts 6s linear infinite;

        img {
            width: 100%;
        }
    }
    &__heart-three {
        position: absolute;
        width: 5%;
        top: 33%;
        left: 38%;
        z-index: -2;
        animation: hearts 6s linear infinite;

        img {
            width: 100%;
        }
    }
    &__heart-four {
        position: absolute;
        width: 7%;
        top: 32%;
        right: 31%;
        z-index: -2;
        animation: hearts 6s linear infinite;

        img {
            width: 100%;
        }
    }
    &__heart-five {
        position: absolute;
        width: 12%;
        top: 41%;
        right: 41%;
        z-index: -2;
        animation: hearts 6s linear infinite;

        img {
            width: 100%;
        }
    }
    &__heart-six {
        position: absolute;
        width: 6%;
        top: 46%;
        left: 25%;
        z-index: -2;
        animation: hearts 6s linear infinite;

        img {
            width: 100%;
        }
    }
    &__heart-seven {
        position: absolute;
        width: 10%;
        top: 55%;
        left: 32%;
        z-index: -2;
        animation: hearts 6s linear infinite;

        img {
            width: 100%;
        }
    }
    &__heart-eight {
        position: absolute;
        position: absolute;
        width: 10%;
        top: 60%;
        right: 37%;
        z-index: -2;
        animation: hearts 6s linear infinite;

        img {
            width: 100%;
        }
    }

    &__july-eyes {
        position: absolute;
        width: 55%;
        bottom: 24.5%;
        left: 16%;
        transform: rotate(.5deg);
        animation: rise-up 2s ease;
        z-index: -1;

        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .daze {
        &__spiral {
            &.left {
                animation: spiral-left 4s linear infinite, rise-up 3.5s ease;
            }
    
            &.right {
                animation: spiral-right 4s linear infinite, rise-up 3.5s ease;
            }
        }
    
        &__heart-one {
            animation: hearts 9s linear infinite;
        }
        &__heart-two {
            animation: hearts 9s linear infinite;
        }
        &__heart-three {
            animation: hearts 9s linear infinite;
        }
        &__heart-four {
            animation: hearts 9s linear infinite;
        }
        &__heart-five {
            animation: hearts 9s linear infinite;
        }
        &__heart-six {
            animation: hearts 9s linear infinite;
        }
        &__heart-seven {
            animation: hearts 9s linear infinite;
        }
        &__heart-eight {
            animation: hearts 9s linear infinite;
        }
    
        &__july-eyes {
            animation: rise-up 3.5s ease;
            bottom: 24.3%;
        }
    }
}