.dog {
    &__left-tree {
        @include left-tree;
    }

    &__right-tree {
        @include right-tree;
    }  

    &__dog {
        position: absolute;
        position: absolute;
        width: 30%;
        left: 4.6%;
        bottom: 25%;
        z-index: -2;
        opacity: 0;
        transform: translateX(-500px);
    
        &.dog-out {
            animation: slide-right 1s ease;
            opacity: 1;
        }

        &.dog-back {
            animation: far-left 3s ease;
        }

        img {
            width: 100%;
        }
    }

    &__paper {
        position: absolute;
        width: 12%;
        left: 30%;
        bottom: 28%;
        z-index: -3;
        animation: paper-fall 2s linear;
        
        &.paper-out {
            animation: far-left 3s ease;
            transform: translateX(-500px);
        }

        img {
            width: 100%;
        }
    }

    &__door {
        position: absolute;
        width: 85%;
        bottom: 25.7%;
        left: 7%;
        z-index: -4;
        animation: rise-up 2s ease;

        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .dog {
        &__dog {
            &.dog-out {
                animation: slide-right 1s ease;
            }
    
            &.dog-back {
                animation: far-left 5s ease;
            }
        }
    
        &__paper {
            animation: paper-fall 4s linear;
            
            &.paper-out {
                animation: far-left 5s ease;
            }
        }
    
        &__door {
            animation: rise-up 4s ease;
            bottom: 25.3%;
        }
    }
}