@import './default/default';

.frame {
    width: 70%;
    height: 100%;
    max-height: 100%;
    position: relative;
    
    &__img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        
        img {
            width: 100%;
        }
    }
    
    .frame-border {
        z-index: 999;
        box-shadow: 10px 5px 7px rgba(36, 39, 40, .3);
        overflow: hidden;

        img {
            z-index: 999;
        }

        .backdrop {
            position: absolute;
            width: 100%;
            height: 50px;
            background: #000;
            transform: translateY(-1rem);
        }
    }

    .background {
        z-index: 1;
    }
}

@media only screen and (max-width: $tablet) {
    .frame {
        width: 100%;
        top: 300px;
    }
}

@media only screen and (max-width: $mobile) {
    .frame {
        top: 0;
        min-height: 527px;
    }
}


@media only screen and (max-width: 450px) {
    .frame {
        min-height: 390px;
    }
}

@media only screen and (max-width: 395px) {
    .frame {
        min-height: 363px;
    }
}

@media only screen and (max-width: 350px) {
    .frame {
        min-height: 309px;
    }
}
