.frame {
    width: 70%;
    height: 100%;
    max-height: 100%;
    position: relative;

    &__img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        
        img {
            width: 100%;
        }
    }

    .frame {
        z-index: 9;
        box-shadow: 10px 5px 7px rgba(36, 39, 40, .3);
    }

    .background {
        z-index: 1;
    }
}
